api=your_telegram_bot_token
OWNER=your_telegram_user_id
baseUrl=http://localhost
baseUrlfree=http://localhost
port=3000
payApi=your_payment_api_key
TEST_MODE=true
GROUP_ID=your_group_or_channel_id
GROUP_LINK=https://t.me/your_group_link
